<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  
    <Fragment>
        <DirectoryRef Id="HOMEFOLDER">
            <Directory Id="dir.algos" Name="Algorithms">
                <Directory Id="dir.demoV1" Name="Demo Algorithms (Legacy)" />
                <Directory Id="dir.demoV2" Name="Demo Algorithms (V2)" />
            </Directory>
        </DirectoryRef>
    </Fragment>

    <Fragment>
	    <ComponentGroup Id="AdditionalFilesComponents">

			<!-- ===== root files ======================================== -->
			<Component Id="comp.root" Directory="HOMEFOLDER">
				<File Id="file.root.default" Source="$(var.HomeDir)\default-files.lnk" />
			</Component>

	    </ComponentGroup>
    </Fragment>
</Wix>
