<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TuringTrader" Language="1033" Version="1.0.0.0" Manufacturer="Bertram Solutions LLC" UpgradeCode="42939162-3f5e-48fd-ae22-df7fbabbb998">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <!--
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="..\LICENSE.rtf" />
    
    <Feature Id="PublishedFilesFeature" Title="Published Files" Level="1">
      <ComponentGroupRef Id="PublishedFilesComponentGroup" />
    </Feature>

    <Feature Id="AdditionalFilesFeature" Title="Additional Files" Level="1">
      <ComponentGroupRef Id="AdditionalFilesComponentGroup" />
    </Feature>

    <Feature Id="ProductFeature" Title="TuringTrader.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Feature Id="AppShortcutFeature" Title="Application Shortcut" Level="1">
      <ComponentGroupRef Id="ApplicationShortcutComponent" />
    </Feature>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
			<Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="TuringTrader">
          <Directory Id="BINFOLDER" Name="Bin">
            <Directory Id="PublishFilesComponentGroup" />
          </Directory>
          <Directory Id="HOMEFOLDER" Name="Home" />
          <Directory Id="AdditionalFilesComponentGroup" />
        </Directory>
			</Directory>

      <Directory Id="ProgramMenuFolder">
        <!--
        <Directory Id="ApplicationProgramsFolder" Name="Turing Trader"/>
        -->
      </Directory>      
      
		</Directory>
  </Fragment>

  <Fragment>
      <ComponentGroup Id="ApplicationShortcutComponent"  Directory="ProgramMenuFolder">
      <!--
      <ComponentGroup Id="ApplicationShortcutComponent"  Directory="ApplicationProgramsFolder">
      -->
      <Component Id="ApplicationShortcutComponent" Guid="bcb0cad4-b2af-400c-ac25-ba61adf232a5">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="TuringTrader"
                  Description="TuringTrader Open-Source Backtesting Engine/ Market Simulator"
                  Target="[BINFOLDER]turingtrader.exe"
                  WorkingDirectory="BINFOLDER" />
        <!--
        <Shortcut Id="HelpStartMenuShortcut"
                  Name="TuringTrader Help"
                  Description="TuringTrader API Documentation"
                  Target="[BINFOLDER]turingtrader.chm"
                  WorkingDirectory="BINFOLDER" />
        -->
        <!--
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        -->
        <RegistryValue Root="HKCU" Key="Software\TuringTrader" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>

</Wix>
