<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package
		Name="TuringTrader"
		Version="$(Version)"
        Manufacturer="Bertram Enterprises LLC"
		Language="1033"
		UpgradeCode="42939162-3f5e-48fd-ae22-df7fbabbb998" 
		InstallerVersion="200"
	>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

        <!--
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <UIRef Id="WixUI_InstallDir" />
        -->
        <ui:WixUI Id="WixUI_Minimal" />
        <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    
        <Feature Id="PublishedFilesFeature" Title="Published Files" Level="1">
          <ComponentGroupRef Id="PublishedFilesComponentGroup" />
        </Feature>

        <Feature Id="AdditionalFilesFeature" Title="Additional Files" Level="1">
          <ComponentGroupRef Id="AdditionalFilesComponentGroup" />
        </Feature>

        <Feature Id="ProductFeature" Title="TuringTrader.Setup" Level="1">
          <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <Feature Id="AppShortcutFeature" Title="Application Shortcut" Level="1">
          <ComponentGroupRef Id="ApplicationShortcutComponent" />
        </Feature>
	</Package>

	<Fragment>
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="TuringTrader">
                <Directory Id="BINFOLDER" Name="Bin">
                    <Directory Id="PublishFilesComponentGroup" />
                </Directory>
                <Directory Id="HOMEFOLDER" Name="Home" />
                <Directory Id="AdditionalFilesComponentGroup" />
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <!--
            <Directory Id="ApplicationProgramsFolder" Name="Turing Trader"/>
            -->
        </StandardDirectory>            
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ApplicationShortcutComponent" Directory="ProgramMenuFolder">
            <!--
            <ComponentGroup Id="ApplicationShortcutComponent"  Directory="ApplicationProgramsFolder">
            -->
            <Component Id="ApplicationShortcutComponent" Guid="bcb0cad4-b2af-400c-ac25-ba61adf232a5">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="TuringTrader" 
			        Description="TuringTrader Open-Source Backtesting Engine/ Trading Simulator"
				    Target="[BINFOLDER]turingtrader.exe" WorkingDirectory="BINFOLDER" 
			    />
                <!--
                <Shortcut Id="HelpStartMenuShortcut"
                Name="TuringTrader Help"
                Description="TuringTrader API Documentation"
                Target="[BINFOLDER]turingtrader.chm"
                WorkingDirectory="BINFOLDER" />
                -->
                <!--
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
                -->
                <RegistryValue Root="HKCU" Key="Software\TuringTrader" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
